---
import Icon from "@/components/Icon.astro"

import "@/styles/components/sections/ContactMe.scss"

const socials = [
  {
    icon: "webmail",
    title: "Email",
    label: "shawn.santhoshgeorge@gmail.com",
    href: "mailto:shawn.santhoshgeorge@gmail.com",
  },
  {
    icon: "phone",
    title: "Phone",
    label: "+1 (437) 223-2001",
    href: "tel:+14372232001",
  },
  {
    icon: "linkedin",
    title: "LinkedIn",
    label: "/shawnsg",
    href: "https://www.linkedin.com/in/shawnsg/",
  },
]
---

<section id="contact">
  <h2>Let's Connect <span>👋</span></h2>
  <p class="description">
    I am always looking to make new connections, so drop me an email or shoot me
    a DM on LinkedIn. Who knows where the conversation could lead ?
  </p>
  <div class="content">
    <div class="socials">
      {
        socials.map(({ icon, title, label, href }) => (
          <div
            id={icon}
            class="social">
            <Icon
              id="method-icon"
              name={icon}
            />
            <p class="title">{title}</p>
            <a
              class="label"
              href={href}>
              {label}
            </a>
          </div>
        ))
      }
    </div>
    <form
      id="contact-form"
      name="Contact Me"
      method="POST"
      data-netlify="true"
      netlify-honeypot>
      <p class="hidden">
        <label>
          Don't fill this out if you're human:
          <input name="bot-field" />
        </label>
      </p>
      <input
        type="hidden"
        name="form-name"
        value="feedback"
      />
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        required
      />
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        required
      />
      <label for="cell">Cell Number</label>
      <input
        id="cell"
        aria-label="Cell Number"
        type="tel"
        pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
        required
      />
      <label for="feedback">Message</label>
      <textarea
        id="feedback"
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</section>

<script is:inline>
  const handleSubmit = (event) => {
    event.preventDefault()

    const formData = new FormData(event.target)

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => console.log("Form successfully submitted"))
      .catch((error) => alert(error))
  }

  document.querySelector("form").addEventListener("submit", handleSubmit)
</script>
